doctype html
html
  head
    title= title
    // Compiled and minified CSS
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    // Custom stylesheet
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    script(src='/javascripts/jquery.min.js')

  body
    .row
      .col.s12
        span.flow-text We Provide High-Performance CUDA Functions as a Service
    .row
      .col.s3
        table
          thead
            tr
              th Function List
          tbody
            tr
              td
                a(href='/func/rsa_crypt') RSA Crypt
            tr
              td
                a(href='/func/edge_detection') Edge Detection
            tr
              td
                | More coming ...
      .col.s9
        block content

  // Compiled and minified JavaScript libs
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
