extends layout

block content
  .row
    .col.s12
      span.flow-text We Provide High-Performance Functions as a service
  .row
    .col.s3
      table
        thead
          tr
            th Function
        tbody
          tr
            td Hashing
          tr
            td Merge Sort
          tr
            td Edge Detection

    .col.s9
      span.flow-text Params
