extends ../layout

block content
  .row
    form.col.s12(action="#")
      .row
        .file-field.input-field.col.s12
          .btn
            span File
            input(type='file', multiple='')
          .file-path-wrapper
            input.file-path.validate(type='text', placeholder='Upload a PNG file')
      .row
        .file-field.input-field.col.s12
          .btn
            span Result
            input(type='file', disabled="true", multiple='')
          .file-path-wrapper
            input.file-path.validate(type='text', placeholder='Click to download the result')

      .row
        .input-field.col.s12
          a#invoke.waves-effect.waves-light.btn Invoke

  script.
    $('#invoke').on('click', function() {
      fetch('http://example.com/movies.json')
        .then(function(response) {
          return response.json();
        })
        .then(function(res) {
          console.log(JSON.stringify(res));
        });
    });