extends ../layout

block content
  h4 Edge Detection
  hr
  .row
    form.col.s12(action="#")
      .row
        .file-field.input-field.col.s12
          .btn
            span File
            input#inputImage(type='file', name='input', multiple='')
          .file-path-wrapper
            input.file-path.validate(type='text', placeholder='Upload a PNG file')
      .row
        .file-field.input-field.col.s12
          a.btn#result(target = "_blank", style={ display: "none" })
            span Result
            i.material-icons file_download

      .row
        .input-field.col.s12
          a#invoke.waves-effect.waves-light.btn(disabled = "true") Invoke

  script.
    var invokeBtn = $('#invoke');
    $('#inputImage').on('change', function() {
      if (document.getElementById("inputImage").files[0]) {
        invokeBtn.attr("disabled", false)
      }
    })

    $('#invoke').on('click', function() {
      var inputImage = document.getElementById("inputImage").files[0];
      if (!inputImage) return

      var result = $('#result');
      var formData = new FormData();
      formData.append('id', new Date().getTime());
      formData.append('inputImage', inputImage);
      invokeBtn.attr("disabled", true)
      invokeBtn.text("Please wait...")
      result.css('display', 'none');
      result.attr('href', '');
      fetch('edge_detection', {
        method: 'POST',
        body: formData
      })
      .then(function(response) {
        return response.json();
      })
      .then(function(myJson) {
        result.css('display', 'block');
        result.attr('href', '/' + myJson.resultImage);
        invokeBtn.attr("disabled", false)
        invokeBtn.text("Invoke")
      })
    })